* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  #eff3ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  animation: backgroundChange 380s infinite alternate-reverse ease-in-out;
  background-size:  cover;
}

@keyframes backgroundChange {
  0% {
    background: url(../../public/img/background.gif) no-repeat;
    background-size: cover;
  } 100% {
    background: url(../../public/img/bugBackground.gif) no-repeat;
    background-size: cover;
  }
}

@import './Mixins/stats-bar';
@import './Util/global-styles';
@import './Util/fonts';
@import './Pages/home';
@import './Pages/details';
@import './Components/pagination';
@import './Components/pokecard';