.home-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 1rem 0 2rem 0;

  & .page-title {
    font-family: $title-font;
    font-size: 4rem;
  }

  & .searcher-container {
    display: flex;
    box-shadow: 0 3px 15px #00000088;
    border-radius: 5px;

    & .icon-searcher__container {
      display: flex;
      background-color: #db3b3b ;
      padding: 10px;
      border-end-start-radius: 5px;
      border-start-start-radius: 5px;

      & i {
        color:#eff3ff;
      }
    }

    & .search-pokemon__input {
      border-end-end-radius: 5px;
      border-start-end-radius: 5px;
      outline: none;
      border: none;
      padding: 0 5px;
      width: 400px;
      background-color:#eff3ff;
      color: #1a1b1b ;
    }
  }
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      185px,
      1fr
    )
  );
  gap: 30px;
  justify-items: center;
  padding: 0 3rem;
}

.pagination-container {

}