.pokecard-container,
.two-cards,
.one-card {
  background-color: #1a1b1b ;
  width: 185px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 3px 15px #00000088;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  
  &:hover {
    transform: rotateY(0.5turn);
    cursor: pointer;
  }
}

.one-card {
  @media screen and (max-width: 585px) {
    width: 32%;
    height: 300px;
  }

  @media screen and (max-width: 540px) {
    height: 250px;
  }

  @media screen and (max-width: 440px) {
    height: 220px;
  }

  @media screen and (max-width: 420px) {
    height: 200px;
  }

  @media screen and (max-width: 330px) {
    height: 155px;
  }
}

.two-one-card {
  @media screen and (max-width: 585px) {
    width: 65%;
    height: 300px;
  }

  @media screen and (max-width: 540px) {
    height: 250px;
  }

  @media screen and (max-width: 440px) {
    height: 220px;
  }

  @media screen and (max-width: 420px) {
    height: 200px;
  }

  @media screen and (max-width: 330px) {
    height: 155px;
  }
}

.pokecard-container {
  @media screen and (max-width: 585px) {
    width: 100%;
    height: 300px;
  }

  @media screen and (max-width: 540px) {
    height: 250px;
  }

  @media screen and (max-width: 440px) {
    height: 220px;
  }

  @media screen and (max-width: 420px) {
    height: 200px;
  }

  @media screen and (max-width: 330px) {
    height: 155px;
  }
}

.pokecard-front {
  z-index: -2;
}

.pokecard-front,
.pokecard-back,
.loading-pokecard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;

  @media screen and (max-width: 420px) {
    border-radius: 12px;
  }
  
  & .loading-img {
    width: 70%;
  }

  & .pokecard-circle {
    position: absolute;
    z-index: -1;
    padding: 37%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 6%;
  }

  & .pokecard-img {
    width: 70%;
  }
  
  .pokecard-img__anim {
    animation: jumpingImg .2s infinite alternate-reverse ease-in-out;
  }

  @keyframes jumpingImg {
    from {
      transform: translateY(0);
    } to {
      transform: translateY(-10px);
    }
  }

  & .pokecard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    @media screen and (max-width: 540px) {
      margin-top: 3px;
    }

    & .pokecard-pokemon__number {
      border-radius: 20px;
      padding: 3px 10px;
      font-size: 1.1rem;
      background-color: #00000033;
      color: black;
      font-weight: 500;
      
      @media screen and (max-width: 540px) {
        font-size: .7rem;
      }
      
      @media screen and (max-width: 330px) {
        font-size: .5rem;
        padding: 2px 7px;
      }
    }

    & .pokecard-pokemon__name {
      font-weight: bold;
    }

    & .pokecard-pokemon__name,
    .pokecard-pokemon__types {
      color: black;
      font-size: 1.25rem;
      @media screen and (max-width: 540px) {
        font-size: .8rem;
      }

      @media screen and (max-width: 330px) {
        font-size: .6rem;
      }
    }

    & .pokecard-pokemon__name,
    .pokecard-pokemon__number,
    .pokecard-pokemon__types {
      line-height: 1.2;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 540px) {
        margin-bottom: 0.3rem;
      }
    }
  }
}

.pokecard-back {
  transform: rotateY(0.5turn);
  background-color: #3f4141;
  border: none;

  @include stats-bar(70%, 15px);
  
  @media screen and (max-width: 540px) {
    @include stats-bar(80%, 6px);
  }

  @media screen and (max-width: 540px) {
    @include stats-bar(75%, 6px);
  }

  & .pokecard-back__details {
    font-size: 0.8rem;
    
    @media screen and (max-width: 540px) {
      font-size: .5rem;
    }

    @media screen and (max-width: 330px) {
      font-size: .4rem;
    }
  }

  & .pokecard-details__goto {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.d-none {
  display: none;
}
