@mixin stats-bar($width, $margin) {
  .pokecard-stats__name {
    font-weight: bold;
    font-size: 0.8rem;

    @media screen and (max-width: 540px) {
      font-size: .5rem;
    }

    @media screen and (max-width: 330px) {
      font-size: .4rem;
    }
  }
  
  .pokecard-stats__bar {
    width: $width;
    height: 8px;
    margin-bottom: $margin;

    @media screen and (max-width: 540px) {
      height: 5px;
    }
  }
}