@mixin stats-bar($width, $margin, $fontSize, $height) {
  .pokecard-stats__name {
    font-weight: bold;
    font-size: $fontSize;

    @media screen and (max-width: 540px) {
      font-size: $fontSize;
    }

    @media screen and (max-width: 330px) {
      font-size: $fontSize;
    }
  }
  
  .pokecard-stats__bar {
    width: $width;
    height: $height;
    margin-bottom: $margin;

    @media screen and (max-width: 540px) {
      height: $height;
    }
  }
}